/*---------------------------------------*/
/*              Navigation               */
/*---------------------------------------*/

.nav-wrapper {
  height: 100px;
  width: 100%;
  display: flex;
  text-align: center;
  align-items: center;
  background: #09091a;
  border-bottom: 2px solid #2b638f;
}

.sections {
  position: absolute;
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.sections a {
  text-decoration: none;
  color: #1793d1;
  font-weight: bold;
  width: 100%;
  line-height: 100px;
  font-size: 1.5rem;
  -webkit-transition: all 0.35s ease-in-out;
  -moz-transition: all 0.35s ease-in-out;
  transition: all 0.35s ease-in-out;
}

.sections a.active {
  background: #1793d1;
  color: #09091a;
}

@media only screen and (max-width: 600px) {
  .sections a {
    line-height: 100px;
  }
}
