/*---------------------------------------*/
/*             Title/General             */
/*---------------------------------------*/

.cv-wrapper {
  color: #09091a;
  margin: 0rem 5rem;
}

em {
  color: #119983;
}

.main-section {
  width: 80%;
  float: right;
}

.cv-title {
  text-align: center;
  margin: 1rem 0;
}

.cv-title h1 {
  font-size: 4rem;
  font-weight: bolder;
  color: #119983;
}

.cv-title h2 {
  font-size: 2.5rem;
  font-weight: bold;
  color: #09091a;
}

/*---------------------------------------*/
/*             Aside                     */
/*---------------------------------------*/

.aside {
  width: 20%;
  height: 100%;
  float: left;
  display: flex;
  flex-flow: column nowrap;
  align-items: flex-end;
}

.aside-section {
  margin: 0rem 0.5rem 1rem;
  text-align: end;
  border-bottom: 1px solid #09091a;
}

.aside-section:nth-child(3) {
  border-bottom: none;
}

.aside-section h2 {
  font-size: 2.5rem;
  color: #11c687;
  font-weight: bold;
  margin-bottom: 0.5rem;
}

.aside-section p {
  font-size: 1.5rem;
  margin-bottom: 1rem;
}

.icons {
  display: flex;
  justify-content: space-evenly;
}

.icons a {
  margin: 0.5rem;
}

.icons a:nth-child(1) {
  color: #f1d592;
}

.icons a:nth-child(2) {
  color: #0577b2;
}

.icons a:nth-child(3) {
  color: #24292e;
}

/* background-image: linear-gradient(
  45deg,
  rgb(16, 86, 126) 0%,
  rgb(16, 86, 126) 12.5%,
  rgb(16, 108, 128) 12.5%,
  rgb(16, 108, 128) 25%,
  rgb(17, 131, 129) 25%,
  rgb(17, 131, 129) 37.5%,
  rgb(17, 153, 131) 37.5%,
  hsl(170, 80%, 33%) 50%,
  rgb(17, 176, 133) 50%,
  rgb(17, 176, 133) 62.5%,
  rgb(17, 198, 135) 62.5%,
  hsl(159, 84%, 42%) 75%,
  rgb(18, 221, 136) 75%,
  rgb(18, 221, 136) 87.5%,
  rgb(18, 243, 138) 87.5%,
  rgb(18, 243, 138) 100%
); */

/*---------------------------------------*/
/*          Content Section              */
/*---------------------------------------*/

.cv-section {
  font-size: 3rem;
  margin: 0 1rem;
}

.cv-section em {
  font-weight: bold;
}

.cv-section h3 {
  font-weight: bold;
  margin: 1rem 0;
}

.cv-section:nth-child(1) h3 {
  margin-top: 0;
}

.cv-section p {
  font-size: 1.4rem;
  line-height: 2.5rem;
}

/*---------------------------------------*/
/*              Education                */
/*---------------------------------------*/

.cv-edu {
  display: flex;
  margin-bottom: 1rem;
  align-items: center;
  justify-content: space-between;
}

.cv-edu p {
  margin: 0.5rem 0 0;
}

.cv-edu h5 {
  font-size: 1.5rem;
  text-align: left;
  margin-right: 1rem;
  width: 150px;
}

.cv-edu-mid {
  text-align: center;
  width: 100%;
}

.cv-edu-mid p:nth-child(1) {
  margin-bottom: -1rem;
}

.cv-school p {
  text-align: right;
  margin: 1rem 0;
}

/*---------------------------------------*/
/*             Experience                */
/*---------------------------------------*/

.cv-experience {
  display: flex;
  flex-flow: wrap;
  flex-direction: column;
  align-items: flex-start;
}

.exp-title {
  color: #11c687;
}

.exp-li {
  font-size: 1.5rem;
  line-height: 2rem;
  list-style-type: square;
}

/*---------------------------------------*/
/*             Media Query               */
/*---------------------------------------*/

@media only screen and (max-width: 600px) {
  .cv-title h2 {
    font-size: 2rem;
  }

  .cv-section p {
    font-size: 1.5rem;
    margin: 1rem 0;
  }

  .cv-school p {
    color: #119983;
    text-decoration: underline;
  }
}

@media only screen and (max-width: 1160px) {
  .cv-wrapper {
    display: flex;
    flex-direction: column;
    margin: 0 2rem;
    text-align: center;
  }

  .aside {
    text-align: center;
    width: 100%;
    align-content: center;
    justify-content: center;
    align-items: center;
  }

  .aside-section {
    margin-top: 2rem;
    text-align: center;
    width: 100%;
  }

  .icons {
    float: none;
    margin: 0 auto 1rem;
  }

  .bars {
    width: 100%;
  }

  .bars li {
    width: 100%;
  }

  .aside-section:nth-child(3) {
    border-bottom: 1px solid #09091a;
  }

  .main-section {
    width: 100%;
    float: right;
  }

  .cv-section {
    margin-top: 2rem;
    width: 100%;
    font-size: 3rem;
    margin: 2rem 0;
  }

  .cv-edu {
    display: flex;
    flex-direction: column-reverse;
    text-align: center;
    margin-bottom: 2rem;
  }

  .cv-edu h5 {
    width: 100%;
    text-align: center;
    font-weight: bold;
  }

  .cv-edu p {
    text-align: center;
  }

  .cv-school p {
    text-align: center;
    font-weight: bold;
    margin: 1rem 0rem -0.5rem;
  }

  .cv-experience {
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    margin-bottom: 2rem;
  }

  .cv-experience p {
    text-align: center;
    margin: 0rem 0;
  }

  .duration p {
    font-weight: bold;
  }

  .cv-experience p:nth-child(2) {
    text-decoration: underline;
  }
}
