.cv-wrapper {
  color: #09091a;
  margin: 0rem 5rem;
}

em {
  color: #1793d1;
}

.main-section {
  width: 79%;
  float: right;
}

.cv-title {
  text-align: center;
  margin: 1rem 0;
}

.cv-title h1 {
  font-size: 4rem;
  font-weight: bolder;
  color: #1793d1;
}

.cv-title h2 {
  font-size: 2.5rem;
  font-weight: bold;
  color: #09091a;
  border-bottom: 1px ridge #09091a;
  border-bottom-width: 0.25rem;
}

.aside {
  width: 20%;
  height: 100%;

  float: left;
  display: flex;
  flex-flow: column nowrap;
  align-items: flex-end;
}

.aside-section {
  margin: 0rem 0.5rem 1rem;
  text-align: end;
  border-bottom: 1px solid #09091a;
}

.aside-section h2 {
  font-size: 2.5rem;
  color: #1793d1;
  font-weight: bold;
  margin-bottom: 0.5rem;
}

.aside-section p {
  font-size: 1.5rem;
  margin-bottom: 1rem;
}

.cv-section {
  font-size: 3rem;
  margin: 0 1rem;
}

.cv-section em {
  font-weight: bold;
}

.cv-section h3 {
  font-weight: bold;
  margin-bottom: 1rem;
  border-bottom: 1px ridge #09091a;
}

.cv-section p {
  font-size: 1.4rem;
  line-height: 2.5rem;
}

.cv-experience {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-around;
  align-items: center;
}

.cv-experience p {
  text-align: center;
  margin: 0rem 1rem 1rem;
  border: 1px solid red;
}

.cv-edu {
  display: flex;
  text-align: center;
  margin-bottom: 1rem;
  align-items: center;
  border: 1px solid red;
}

.cv-edu h5 {
  font-size: 1.5rem;
  text-align: left;
  border: 2px solid blue;
  width: 150px;
  margin-right: 1rem;
}

.cv-edu p {
  margin: auto;
  margin: 0rem 1rem 1rem;
  border: 1px solid red;
  text-align: left;
}

.cv-edu-mid {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.school p {
  float: right;
}
