/*---------------------------------------*/
/*                Home                   */
/*---------------------------------------*/

.home-wrapper {
  width: 100%;
  font-family: 'Pacifico', cursive;
}

.hero-text-wrapper {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  width: 100%;
  text-shadow: 2px 2px 4px #09091a;
}

.hero-text h1 {
  font-size: 6rem;
  z-index: 1;
}

.hero-text h1:nth-child(1) {
  font-size: 8rem;
  line-height: 15rem;
}

.hero-text h3 {
  font-size: 3rem;
  font-family: 'Cabin', sans-serif;
}

.splash-img {
  height: 100vh;
  width: 100%;
  object-fit: cover;
  background-attachment: fixed;
  background-position: center;
  position: relative;
  background-repeat: no-repeat;
}

.animated-div {
  background-color: none;
  z-index: 0;
}

@media only screen and (max-width: 1600px) {
  .hero-text-wrapper {
    display: flex;
    flex-direction: column;
    text-shadow: 3px 3px 5px black;
    height: calc(100vh - 100px);
  }

  .hero-text h1 {
    font-size: 5rem;
    margin-top: 1.5rem;
  }

  .hero-text h1:nth-child(1) {
    font-size: 4rem;
  }

  .hero-text h3 {
    font-size: 2rem;
  }

  .hero-text p {
    font-size: 1.5rem;
  }

  .splash-img {
    height: 100vh;
    width: 100%;
    background-size: auto;
  }
}

@media only screen and (max-height: 500px) {
  .hero-text-wrapper {
    text-shadow: 3px 3px 5px black;
    height: calc(100vh - 100px);
  }

  .hero-text h1 {
    font-size: 3.5rem;
    margin-top: 1.5rem;
  }

  .hero-text h1:nth-child(1) {
    font-size: 2rem;
  }

  .hero-text h3 {
    font-size: 1.5rem;
  }

  .hero-text p {
    margin-top: -0.5rem;
    font-size: 1rem;
  }
}
