/*---------------------------------------*/
/*              Portfolio                */
/*---------------------------------------*/
.portfolio-wrapper {
  margin: 100px auto 0;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  height: 100vh;
  z-index: 1;
  font-family: 'Roboto Condensed', sans-serif;
}

.profile-card {
  display: block;
  text-align: center;
  height: 900px;
  position: relative;
}

.portfolio-img {
  height: 400px;
  width: 400px;
  border-radius: 12px;
  box-shadow: 1px 4px 6px 0 rgba(0, 0, 0, 0.25),
    1px 6px 12px 0 rgba(0, 0, 0, 0.3);
  transition: box-shadow 0.3s;
  cursor: pointer;
}

.portfolio-img:hover {
  box-shadow: 2px 8px 12px 0 rgba(0, 0, 0, 0.55),
    2px 12px 24px 0 rgba(0, 0, 0, 0.6);
}

.portfolio-hero-text {
  font-size: 5rem;
  color: white;
  text-shadow: 2px 2px 5px #09091a;
  text-align: center;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.portfolio-hero-text h3 {
  font-size: 2.25rem;
  padding: 0.2rem;
}

.port-title {
  font-family: 'Cabin', sans-serif;
}

.notable {
  margin: 1rem 0;
}

.notable h3 {
  text-align: center;
  text-decoration: underline;
}

.notable ul {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.category {
  padding-bottom: 0.3rem !important;
}

.notable li {
  font-size: 2rem;
  width: 500px;
  padding-bottom: 0.2rem;
}

.tech {
  margin: 1rem 0 0;
}

.tech li {
  font-size: 2rem;
}

.button {
  bottom: 0;
  position: absolute;
  width: 100%;
}
.gh-btn {
  text-align: center;
  margin: 0 auto 1.5rem;
  line-height: 3rem;
  border-radius: 8px;
  padding: 1rem;
  font-size: 2rem;
  color: white;
  background-image: linear-gradient(
    45deg,
    #845ec2,
    #d65db1,
    #ff6f91,
    #ff9671,
    #ffc75f,
    #f9f871
  );
  background-size: 300%;
  background-position: left;
  transition: background-position 1s;
  cursor: pointer;
  box-shadow: 2px 6px 8px 0 rgba(73, 34, 34, 0.35),
    2px 6px 12px 0 rgba(0, 0, 0, 0.4);
  outline: none;
}

button:hover,
button:focus {
  background-position: right;
  text-decoration: none;
}

@media only screen and (max-width: 600px) {
  .portfolio-wrapper {
    flex-direction: column;
    margin-top: calc(100px + 2rem);
    height: 100%;
  }

  .profile-card {
    width: 100%;
    height: 100%;
    margin: 0 auto;
  }

  .button {
    position: relative;
  }

  .portfolio-img {
    width: 90%;
    max-height: 90%;
  }

  .portfolio-hero-text {
    font-size: 4rem;
  }
  .portfolio-hero-text h1 {
    margin-bottom: 1rem;
  }

  .notable li {
    width: 100%;
  }

  .tech {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .tech h3 {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
