/*---------------------------------------*/
/*              Portfolio                */
/*---------------------------------------*/
.portfolio-wrapper {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.profile-card {
  margin-top: 1.5rem;
  display: flex;
  align-items: center;
  text-align: center;
}

.portfolio-img {
  height: 100%;
  width: 90%;
  justify-self: center;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.42), 0 6px 20px 0 rgba(0, 0, 0, 0.21);
  border-radius: 12px;
}

.portfolio-hero-text {
  font-size: 6rem;
  color: white;
  text-shadow: 2px 2px 5px #09091a;
  text-align: center;
  padding: 1rem;
}

.portfolio-hero-text h3 {
  font-size: 2.25rem;
}

.notable-tech {
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: center;
}

.notable {
  margin-top: 2rem;
}
.notable h3 {
  text-align: center;
  text-decoration: underline;
  text-decoration-color: #f9f871;
}

.notable li {
  font-size: 2rem;
}

.tech {
  margin-top: 2rem;
}

.tech li {
  font-size: 2rem;
}

button {
  margin-top: 2rem;
  line-height: 3rem;
  border-radius: 8px;
  padding: 1rem;
  font-size: 2rem;
  color: white;
  background-image: linear-gradient(
    45deg,
    #845ec2,
    #d65db1,
    #ff6f91,
    #ff9671,
    #ffc75f,
    #f9f871
  );
  background-size: 300%;
  background-position: left;
  transition: background-position 1s;
  cursor: pointer;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  outline: none;
}

button:hover,
button:focus {
  background-position: right;
}

@media only screen and (max-width: 600px) {
  .portfolio-img {
    width: 95%;
  }

  .portfolio-hero-text {
    font-size: 4rem;
  }
  .portfolio-hero-text h1 {
    margin-bottom: 1rem;
  }
}
